{% extends "base.html" %}
{% block body %}
<div class="row">
	<div class="large-7 columns large-centered">
		<h2>Ratings and Price Targets</h2>
		<p class="subheader">Our years of experience in the equities markets and proprietary deal-sniffing algorithms culminate in this curated list of recommended positions that will make you money!
		</p>
		<br />
		<table>
			<thead>
				<tr>
					<th width="75">Symbol</th>
					<th width="300">Equity</th>
				</tr>
			</thead>
			<tbody>
				{% for stock in stocks %}
					<tr>
						<td>{{ stock[0] }}</td>
						<td>{{ stock[1] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		<table>
			<thead>
				<tr>
					<th width="125">Equity</th>
					<th width="125">Current Price</th>
					<th width="125">Rating</th>
					<th width="125">Price Target</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>GOOG</td>
					<td>$780.23</td>
					<td>Buy</td>
					<td>$800.39</td>
				</tr>
				<tr>
					<td>BBRY</td>
					<td>$14.80</td>
					<td>SELL</td>
					<td>$7.39</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<hr />
	</div>
</div>
{% endblock body %}
